div{
    border: 2px solid green;
    font-size: 32px;
}
.main{
    background: #ccc;
    width: 80%;
    position: absolute;
}
div.number3{
    background-color: darkcyan;
    color: aliceblue;
    position: absolute;
    left: 100px;
    top: 30px;
}
div.number3b{
    background-color: darkblue;
    position: absolute;
    left: 80px;
    top: 100px;
}