body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /*background-color:grey; */
   /*background-image: url(download\ \(1\).png);
  background-repeat: repeat;
  background-position:top center;
  background-size: 60%;
 background-attachment: fixed; */
 background: #ccc url(download\ \(1\).png)repeat fixed top center;
}
h1{
    color: rgb(54, 54, 154);
}
p{
    line-height: normal;
    color: rgb(38, 36, 36);
    
}
