.container{
    width: 400px;
    height: 300px;
    background-color: lightseagreen;
    color: #fff;
    font-size: 2 em;
    /*padding-left: 20px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 20px;
*/
padding: 1em 2.5em 2em 1em;

}