*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
.container{
    background: beige;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
nav{
    width: 80%;
    background: #ccc;
    height: 40px;
    margin: 0 auto;
}
.province>li{
    float: left;
}
li{
    width: 150px;
    
}