*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
.container{
    background: rgb(16, 227, 227);
}
ul{
    list-style-type: none;
    text-decoration: none;
}
nav{
    width: 80%;
    background: #065986;
    height: 40px;
    margin: 0 auto;
}
.province>li{
    float: left;
}
li{
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    line-height: 40px;
    transition: 0.5s ease-in-out;
    background-color:#065986;
}
li:hover{
    background-color: dodgerblue;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    display: block;
}

.district>li{
    display: none;
    transition: 0.5s ease-in-out;
    position: relative;
}
.province>li:hover .district>li{
display: block;
}
.sector>li{
    display: none;
    transition: 0.5s ease-in-out;

}
.sector>li:hover{
    background: rgb(16, 111, 189);
}
.district>li:hover .sector{
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
}
.district>li:hover .sector>li{
    display: block;
   
}
